.footer {
    background-color: black;
    padding: 0.05% 0;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Abel';
    bottom: 0%;
    width: 100%;
    color: white;
    margin-top: auto;
    left: 0;
    font-size: 90%;
    position: fixed;
    margin-top: 1%;
}